<div class="p-4 bg-base-100 shadow rounded-lg space-y-4">
  <div class="flex">
    <h2 class="text-lg font-bold">Editar Categoria</h2>
    <app-go-back class="ml-auto"></app-go-back>
  </div>
  <form
    [formGroup]="categoryForm"
    (ngSubmit)="submitForm()"
    class="space-y-3 w-full"
  >
    <app-input formControlName="name" label="Nome da Categoria"></app-input>

    <div class="form-control mt-4">
      <app-button theme="primary" class="w-full">Confirmar</app-button>
    </div>
  </form>
</div>
