<button
  [ngClass]="{
    '!btn-secondary': theme() == 'secondary',
    '!btn-primary': theme() == 'primary',
    '!btn-accent': theme() == 'accent',
    '!btn-error': theme() == 'error',
    '!btn-success': theme() == 'success',
    '!btn-warning': theme() == 'warning',
    '!btn-ghost': theme() == 'ghost',
    '!btn-link': theme() == 'link',
    '!btn-disabled': disabled(),
    '!btn-circle': circle(),
    '!btn-outline': outline(),

    'btn-lg': size() == 'Large',
    'btn-sm': size() == 'Small',
    'btn-xs': size() == 'Tiny',
  }"
  [class]="class() + ' btn shadow'"
>
  <ng-content></ng-content>
</button>
