<div class="flex flex-col min-h-screen bg-base-200">
  <main class="flex-grow container mx-auto p-4">
    <section class="">
      @for (category of categories(); track $index) {
        @if (listByCategory(category).length) {
          <h2 class="text-lg text-neutral-600 font-bold my-3">
            {{ category }}
          </h2>
        }

        <div class="flex flex-wrap gap-4 mb-8">
          @for (product of listByCategory(category); track $index) {
            <app-menu-product [product]="product"></app-menu-product>
          }
        </div>
      }
    </section>
  </main>

  <footer class="footer bg-base-100 p-4 shadow-lg">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 MyStore. All rights reserved.</p>
    </div>
  </footer>
</div>
