<!-- <header class="navbar bg-base-100 "></header> -->
<div class="navbar bg-base-100 fixed top-0 w-full z-50 shadow-md">
  <div class="navbar-start">
    <div class="flex gap-2">
      <img class="size-12" src="./assets/logo.svg" />
      <h1
        class="text-xl hidden sm:block self-center font-bold animate-fade-right"
      >
        Store
      </h1>
    </div>
  </div>
  <div class="navbar-center">
    <app-input-search (input)="onFilter($event)"></app-input-search>
  </div>
  <div class="navbar-end">
    @if (hasItems()) {
      <app-button (click)="openCart()" theme="ghost" [circle]="true">
        <div class="indicator">
          <app-icon icon="cart"></app-icon>

          <span class="badge badge-sm indicator-item">{{
            productAmount()
          }}</span>
        </div>
      </app-button>
    }

    <app-button (click)="openOrders()" theme="ghost" [circle]="true">
      <div class="indicator">
        <app-icon icon="delivery"></app-icon>

        <!-- <span class="badge badge-sm indicator-item">{{
            productAmount()
          }}</span> -->
      </div>
    </app-button>
  </div>
</div>
