<div class="p-4 bg-base-100 shadow rounded-lg space-y-4 animate-fade-up">
  <section class="flex">
    <h2 class="text-lg font-bold">Adicionar Produto</h2>
    <app-go-back class="ml-auto"></app-go-back>
  </section>
  <form
    [formGroup]="productForm"
    (ngSubmit)="submitForm()"
    class="space-y-3 w-full"
  >
    <app-input formControlName="name" label="Nome do Produto"></app-input>

    <app-textarea
      formControlName="description"
      label="Descrição"
    ></app-textarea>

    <app-input
      formControlName="price"
      [currency]="true"
      label="Preço"
    ></app-input>

    <app-input
      formControlName="stock"
      type="number"
      label="Estoque"
    ></app-input>

    <app-select
      formControlName="category"
      label="Categoria"
      [options]="categories()"
    ></app-select>

    <app-input-file #file label="Imagem do Prouto"></app-input-file>

    <div class="form-control mt-4">
      <app-button theme="primary" class="ml-auto">Confirmar</app-button>
    </div>
  </form>
</div>
