<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="card w-96 bg-white shadow-xl">
    <div class="card-body">
      <div class="border relative grid items-center">
        <div class="avatar absolute justify-self-center">
          <div class="ring-primary ring-offset-base-100 w-24 rounded-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 120 120"
              fill="none"
              role="img"
              aria-label="E-commerce Logo"
              width="96"
              height="96"
            >
              <!-- Background Circle -->
              <circle
                cx="60"
                cy="60"
                r="58"
                fill="#4CAF50"
                stroke="#2E7D32"
                stroke-width="4"
              />

              <!-- Shopping Bag -->
              <path
                d="M40 50 L80 50 L90 80 Q90 85 85 85 H35 Q30 85 30 80 L40 50 Z"
                fill="#ffffff"
                stroke="#2E7D32"
                stroke-width="2"
              />

              <!-- Bag Handles -->
              <path
                d="M50 50 C50 40 70 40 70 50"
                stroke="#2E7D32"
                stroke-width="2"
                fill="none"
              />
            </svg>
          </div>
        </div>
      </div>
      <h2 class="card-title text-center text-xl font-bold mt-12">
        Seja bem vindo!
      </h2>

      <form [formGroup]="loginForm">
        <div class="form-control">
          <app-input
            [phone]="true"
            formControlName="phoneNumber"
            label="Telefone para contato"
            placeholder="Informe seu número de telefone"
          ></app-input>
          @if (isLoadCode()) {
          <div class="flex m-auto my-5">
            <span
              class="loading loading-spinner loading-lg text-primary"
            ></span>
          </div>
          } @if (code()) {
          <div class="mt-4">
            <p class="font-semibold text-xs text-gray-700">
              Codigo de verificação!
            </p>
            <p class="text-3xl text-gray-800">{{ code() }}</p>
          </div>

          <app-input
            formControlName="verificationCode"
            label="Informe o código de verificação"
          ></app-input>

          <app-button
            (click)="verifyCode()"
            theme="accent"
            class="w-full mt-3"
            [disabled]="loginForm.invalid"
            >Confirmar</app-button
          >
          }
        </div>

        @if (!code()) {
        <div class="form-control mt-4">
          <app-button
            (click)="generateCode()"
            class="w-full"
            [disabled]="loginForm.invalid"
            >Confirmar</app-button
          >
        </div>

        }
      </form>
    </div>
  </div>
</div>
