<!-- DaisyUI: Open the modal using ID.showModal() method -->
<button class="btn" (click)="modal.showModal()">open modal</button>
<dialog #modal class="modal">
  <div class="modal-box">
    <ng-container #container></ng-container>

    <!-- <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        
        <button class="btn">Close</button>
      </form>
    </div> -->
  </div>
</dialog>
