<div class="p-6">
  <h2 class="text-2xl font-bold mb-4">Usuários</h2>

  <!-- Tabela de Usuários -->
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Função</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role.name }}</td>
          <td class="flex space-x-2">
            <app-button size="Tiny" theme="primary" (click)="editUser(user.id)"
              >Editar</app-button
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
