<div class="p-4 space-y-4">
  <h1 class="text-2xl font-bold">Categorias</h1>
  <div class="grid grid-cols-[1fr_170px] space-x-4 items-end">
    <app-input
      (changeValue)="onFilterCategories($event)"
      label="Buscar por categoria"
      place
    ></app-input>
    <app-button theme="primary" (click)="addCategory()"> Adicionar</app-button>
  </div>
  @if (categoriesFiltered.length) {
    <table class="z-10 table table-zebra w-full mt-4">
      <thead>
        <tr>
          <th class="text-left">Nome</th>
        </tr>
      </thead>
      <tbody>
        @for (category of categoriesFiltered; track $index) {
          <tr>
            <td class="text-left">{{ category.name }}</td>

            <td class="text-center">
              <button
                class="btn btn-sm btn-warning"
                (click)="editCategory(category.id)"
              >
                Editar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
