<!-- Cabeçalho do Pedido -->
<div class="border-b pb-4 mb-6">
  <div class="relative w-full">
    <h1 class="text-2xl font-bold text-gray-800">
      Detalhes do Pedido #{{ order.id }}
    </h1>
    <app-button
      class="absolute top-0 right-0"
      theme="ghost"
      size="Small"
      [circle]="true"
      (click)="closeModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </app-button>
  </div>
  <p class="text-sm text-gray-500">{{ order.createdAt }}</p>
  <div class="mt-2">
    <span
      class="px-3 py-1 text-sm font-semibold bg-green-100 text-green-800 rounded-full"
    >
      {{ order.status.name }}
    </span>
  </div>
</div>

<!-- Informações Gerais -->
<div class="mb-8">
  <p class="text-sm text-gray-600">Última atualização: {{ order.updatedAt }}</p>
</div>

<!-- Endereço de Entrega -->
<div class="mb-8">
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Endereço de Entrega</h2>
  <p class="text-gray-700">
    {{ order.deliveryAddress!.street + ", " + order.deliveryAddress!.number }}
  </p>
  <p class="text-gray-700">
    Complemento: {{ order.deliveryAddress!.complement }}
  </p>
  <p class="text-gray-700">CEP: {{ order.deliveryAddress!.postalCode }}</p>
</div>

<!-- Itens do Pedido -->
<div class="mb-8">
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Itens do Pedido</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b text-left text-gray-600">Produto</th>
          <th class="py-2 px-4 border-b text-center text-gray-600">
            Quantidade
          </th>
          <th class="py-2 px-4 border-b text-right text-gray-600">Preço</th>
          <th class="py-2 px-4 border-b text-right text-gray-600">Total</th>
        </tr>
      </thead>
      <tbody>
        @for (item of order.items; track $index) {
          <tr>
            <td class="py-3 px-4 border-b text-gray-700">
              {{ item.product.name }}
            </td>
            <td class="py-3 px-4 border-b text-center text-gray-700">
              {{ item.quantity }}
            </td>
            <td class="py-3 px-4 border-b text-right text-gray-700">
              {{ item.price | currency: "BRL" }}
            </td>
            <td class="py-3 px-4 border-b text-right text-gray-700">
              {{ item.quantity * item.price | currency: "BRL" }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Pagamentos -->
<div>
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Pagamento</h2>
  <div class="space-y-2">
    <p class="text-gray-700">
      <span class="font-semibold">Método:</span>
      {{ order.payments[0].method.name }}
    </p>
    <p class="text-gray-700">
      <span class="font-semibold">Valor Pago:</span>
      {{ order.payments[0].amountPaid | currency: "BRL" }}
    </p>
  </div>
</div>
